@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Libre+Franklin:400,400i,600,600i);



body,
input,
textarea,
.mbr-company .list-group-text,
.mbr-section-text {
  font-family: 'Libre Franklin', serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Libre Franklin', serif;
}
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price,
.mbr-section-title {
  font-family: 'Oxygen', sans-serif;
}
.btn {
  font-family: 'Libre Franklin', serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Oxygen', sans-serif;
}
.btn-sm,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block,
.mbr-section-subtitle {
  font-family: 'Libre Franklin', serif;
  font-style: normal;
}
.mbr-author-name {
  font-family: 'Oxygen', sans-serif;
}
.mbr-author-desc {
  font-family: 'Libre Franklin', serif;
  font-style: normal;
}
.mbr-plan-title {
  font-family: 'Oxygen', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Libre Franklin', serif;
  font-style: normal;
}
.bg-primary {
  background-color: #2b4484 !important;
}
.bg-success {
  background-color: #1e7c3a !important;
}
.bg-info {
  background-color: #94a5d0 !important;
}
.bg-warning {
  background-color: #8acdbc !important;
}
.bg-danger {
  background-color: #ff9685 !important;
}
.btn-primary {
  background-color: #2b4484;
  border-color: #2b4484;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #18264a;
  border-color: #18264a;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #18264a !important;
  border-color: #18264a !important;
}
.btn-secondary {
  background-color: #a25dae;
  border-color: #a25dae;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #763f7f;
  border-color: #763f7f;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #763f7f !important;
  border-color: #763f7f !important;
}
.btn-info {
  background-color: #94a5d0;
  border-color: #94a5d0;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #5f78b9;
  border-color: #5f78b9;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #5f78b9 !important;
  border-color: #5f78b9 !important;
}
.btn-success {
  background-color: #1e7c3a;
  border-color: #1e7c3a;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #0f3e1d;
  border-color: #0f3e1d;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #0f3e1d !important;
  border-color: #0f3e1d !important;
}
.btn-warning {
  background-color: #8acdbc;
  border-color: #8acdbc;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #54b69d;
  border-color: #54b69d;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #54b69d !important;
  border-color: #54b69d !important;
}
.btn-danger {
  background-color: #ff9685;
  border-color: #ff9685;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #ff5438;
  border-color: #ff5438;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ff5438 !important;
  border-color: #ff5438 !important;
}
.btn-primary-outline {
  background: none;
  border-color: #121c37;
  color: #121c37;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #2b4484;
  border-color: #2b4484;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #2b4484 !important;
  border-color: #2b4484 !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #66376e;
  color: #66376e;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #a25dae;
  border-color: #a25dae;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #a25dae !important;
  border-color: #a25dae !important;
}
.btn-info-outline {
  background: none;
  border-color: #4e6ab0;
  color: #4e6ab0;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #94a5d0;
  border-color: #94a5d0;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #94a5d0 !important;
  border-color: #94a5d0 !important;
}
.btn-success-outline {
  background: none;
  border-color: #0a2a14;
  color: #0a2a14;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #1e7c3a;
  border-color: #1e7c3a;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #1e7c3a !important;
  border-color: #1e7c3a !important;
}
.btn-warning-outline {
  background: none;
  border-color: #48a990;
  color: #48a990;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #8acdbc;
  border-color: #8acdbc;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #8acdbc !important;
  border-color: #8acdbc !important;
}
.btn-danger-outline {
  background: none;
  border-color: #ff3e1f;
  color: #ff3e1f;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #ff9685;
  border-color: #ff9685;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ff9685 !important;
  border-color: #ff9685 !important;
}
.text-primary {
  color: #2b4484 !important;
}
.text-success {
  color: #1e7c3a !important;
}
.text-info {
  color: #94a5d0 !important;
}
.text-warning {
  color: #8acdbc !important;
}
.text-danger {
  color: #ff9685 !important;
}
.alert-success {
  background-color: #1e7c3a;
}
.alert-info {
  background-color: #94a5d0;
}
.alert-warning {
  background-color: #8acdbc;
}
.alert-danger {
  background-color: #ff9685;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #2b4484;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #2b4484;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #2b4484;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #2b4484;
}
.lead a,
.lead a:hover {
  color: #2b4484;
}
.lead blockquote {
  border-color: #2b4484;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #6280cc;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #47d271;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #000;
}
.scrollToTop_wraper {
  opacity: 0 !important;
}
/* DirectM */
a {
  color: #94a5d0;
}
a:hover {
  color: #333;
}
/*header1*/
.header1 .mbr-arrow a i {
  color: #ffffff;
}
.header1 .mbr-arrow a:hover i {
  color: #2b4484;
}
/*header2*/
.header1.header2 .mbr-arrow a i {
  color: #222222;
}
.header1.header2 .mbr-arrow a:hover i {
  color: #2b4484;
}
/*features1*/
.features1 .carousel-indicators li.active {
  border: 5px solid #2b4484;
}
/*features12*/
.features12 .card .mbr-iconfont,
.features14 .card .mbr-iconfont,
.features16 .card .mbr-iconfont {
  font-family: 'Oxygen', sans-serif;
}
/*msg-box1*/
.msg-box1 ul li:before {
  background-color: #2b4484;
}
.msg-box1 .round-block {
  background: linear-gradient(45deg, #223669, #2b4484, #3858aa);
}
/*tabs1*/
.tabs1 ul li a.active {
  border-bottom-color: #2b4484 !important;
}
.tabs1 .tab-list-wraper ul li:before {
  background-color: #2b4484;
}
.tabs1 .colorBG {
  background-color: #2b4484;
}
/*content*/
.content2 blockquote {
  border-left: 3px solid #2b4484;
}
.content4 p {
  border-bottom: 3px solid #2b4484;
  border-top: 3px solid #2b4484;
}
/*follow1*/
.follow1 .btn-social {
  color: #2b4484;
  border-color: #2b4484;
}
.follow1 .btn-social:hover {
  color: #3858aa;
  background: rgba(43, 68, 132, 0.1);
  border-color: #3858aa;
}
/*share1*/
.share1 .btn-social {
  color: #2b4484;
  border-color: #2b4484;
}
.share1 .btn-social:hover {
  color: #3858aa;
  background: rgba(43, 68, 132, 0.1);
  border-color: #3858aa;
}
/* Slider */
.mbr-slider .carousel-indicators .active {
  background-color: #2b4484;
}
/* Gallery */
.mbr-gallery-filter ul li {
  font-family: 'Libre Franklin', serif;
}
.mbr-gallery-filter li {
  color: #94a5d0;
}
.btn-empty:focus {
  color: #2b4484;
}
/* captions */
.mbr-figure-caption {
  background-color: #616161;
  color: #fff;
}
/* tabs1 */
.tabs1 ul li a {
  color: #94a5d0;
}
/*tabs3*/
.tabs3 .nav-tabs .nav-link.active {
  border: 5px solid #2b4484;
}
/* testimonials1*/
.testimonials1 .carousel-indicators li.active {
  border: 5px solid #2b4484;
}
.hamburger-icon {
  background-color: #2b4484 !important;
}
.hamburger-icon:before {
  background-color: #2b4484;
}
.hamburger-icon:after {
  background-color: #2b4484;
}
#menu1-0 .hide-buttons .nav-btn {
  display: none !important;
}
#menu1-0 .navbar-toggler {
  color: #fffffd;
}
#menu1-0 .close-icon::before,
#menu1-0 .close-icon::after {
  background-color: #fffffd;
}
#menu1-0 .link,
#menu1-0 .dropdown-item {
  color: #fffffd;
  font-family: 'Libre Franklin', serif;
}
#menu1-0 .link {
  font-size: 0.8125rem;
}
#menu1-0 .dropdown-item,
#menu1-0 .nav-dropdown-sm .link {
  font-size: 0.880rem;
}
#menu1-0 .link:hover,
#menu1-0 .link:focus {
  color: #5aac98;
}
#menu1-0 .dropdown-item:hover::before,
#menu1-0 .dropdown-item:focus::before {
  background: #5aac98;
}
#menu1-0 .dropdown-item:hover,
#menu1-0 .dropdown-item:focus {
  color: #fffffd;
}
#menu1-0 .link[aria-expanded="true"],
#menu1-0 .dropdown-menu {
  background: #2b4484;
}
#menu1-0 .nav-dropdown-sm .link:focus,
#menu1-0 .nav-dropdown-sm .link:hover,
#menu1-0 .nav-dropdown-sm .dropdown-item:focus,
#menu1-0 .nav-dropdown-sm .dropdown-item:hover {
  background: #273e78!important;
}
#menu1-0 .navbar,
#menu1-0 .nav-dropdown-sm,
#menu1-0 .nav-dropdown-sm .link[aria-expanded="true"],
#menu1-0 .nav-dropdown-sm .dropdown-menu {
  background: #2b4484;
}
#menu1-0 .bg-color.transparent .link {
  color: #fffffd;
  transition: none;
}
#menu1-0 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu1-0 .bg-color.transparent.opened .link:hover,
#menu1-0 .bg-color.transparent.opened .link:focus {
  color: #5aac98;
}
#menu1-0 .link[aria-expanded="true"],
#menu1-0 .dropdown-item[aria-expanded="true"] {
  color: #5aac98!important;
}
#header4-2 .mbr-iconfont {
  color: undefined;
  border-color: undefined;
}
#header4-2 .mbr-table-cell {
  vertical-align: middle;
}
#header4-2 .heading-title {
  text-align: left;
  color: #fffffd;
}
#header4-2 .heading-text {
  text-align: left;
}
#features2-3q .mbr-iconfont {
  color: #2b4484;
  border-color: #2b4484;
}
#features10-5 .mbr-iconfont {
  color: #2b4484;
  border-color: #2b4484;
}
#features10-5 .heading-text {
  text-align: left;
}
#footer2-20 .footer-list {
  color: #74a3c7;
}
#footer2-20 .btn-social {
  border-color: #fffffd;
  color: #fffffd;
}
#footer2-20 .btn-social:hover {
  background: #fffffd;
  color: #fff;
}
#footer2-20 .footer-header {
  color: #fffffd;
  font-size: 16px;
}
#menu1-6 .hide-buttons .nav-btn {
  display: none !important;
}
#menu1-6 .navbar-toggler {
  color: #fffffd;
}
#menu1-6 .close-icon::before,
#menu1-6 .close-icon::after {
  background-color: #fffffd;
}
#menu1-6 .link,
#menu1-6 .dropdown-item {
  color: #fffffd;
  font-family: 'Libre Franklin', serif;
}
#menu1-6 .link {
  font-size: 0.8125rem;
}
#menu1-6 .dropdown-item,
#menu1-6 .nav-dropdown-sm .link {
  font-size: 0.880rem;
}
#menu1-6 .link:hover,
#menu1-6 .link:focus {
  color: #5aac98;
}
#menu1-6 .dropdown-item:hover::before,
#menu1-6 .dropdown-item:focus::before {
  background: #5aac98;
}
#menu1-6 .dropdown-item:hover,
#menu1-6 .dropdown-item:focus {
  color: #fffffd;
}
#menu1-6 .link[aria-expanded="true"],
#menu1-6 .dropdown-menu {
  background: #2b4484;
}
#menu1-6 .nav-dropdown-sm .link:focus,
#menu1-6 .nav-dropdown-sm .link:hover,
#menu1-6 .nav-dropdown-sm .dropdown-item:focus,
#menu1-6 .nav-dropdown-sm .dropdown-item:hover {
  background: #273e78!important;
}
#menu1-6 .navbar,
#menu1-6 .nav-dropdown-sm,
#menu1-6 .nav-dropdown-sm .link[aria-expanded="true"],
#menu1-6 .nav-dropdown-sm .dropdown-menu {
  background: #2b4484;
}
#menu1-6 .bg-color.transparent .link {
  color: #fffffd;
  transition: none;
}
#menu1-6 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu1-6 .bg-color.transparent.opened .link:hover,
#menu1-6 .bg-color.transparent.opened .link:focus {
  color: #5aac98;
}
#menu1-6 .link[aria-expanded="true"],
#menu1-6 .dropdown-item[aria-expanded="true"] {
  color: #5aac98!important;
}
#testimonials1-22 .mbr-section-title {
  text-align: left;
  color: #2b4484;
}
#testimonials1-22 .card-footer > div {
  text-align: left;
}
#footer2-20 .footer-list {
  color: #74a3c7;
}
#footer2-20 .btn-social {
  border-color: #fffffd;
  color: #fffffd;
}
#footer2-20 .btn-social:hover {
  background: #fffffd;
  color: #fff;
}
#footer2-20 .footer-header {
  color: #fffffd;
  font-size: 16px;
}
#menu1-x .hide-buttons .nav-btn {
  display: none !important;
}
#menu1-x .navbar-toggler {
  color: #fffffd;
}
#menu1-x .close-icon::before,
#menu1-x .close-icon::after {
  background-color: #fffffd;
}
#menu1-x .link,
#menu1-x .dropdown-item {
  color: #fffffd;
  font-family: 'Libre Franklin', serif;
}
#menu1-x .link {
  font-size: 0.8125rem;
}
#menu1-x .dropdown-item,
#menu1-x .nav-dropdown-sm .link {
  font-size: 0.880rem;
}
#menu1-x .link:hover,
#menu1-x .link:focus {
  color: #5aac98;
}
#menu1-x .dropdown-item:hover::before,
#menu1-x .dropdown-item:focus::before {
  background: #5aac98;
}
#menu1-x .dropdown-item:hover,
#menu1-x .dropdown-item:focus {
  color: #fffffd;
}
#menu1-x .link[aria-expanded="true"],
#menu1-x .dropdown-menu {
  background: #2b4484;
}
#menu1-x .nav-dropdown-sm .link:focus,
#menu1-x .nav-dropdown-sm .link:hover,
#menu1-x .nav-dropdown-sm .dropdown-item:focus,
#menu1-x .nav-dropdown-sm .dropdown-item:hover {
  background: #273e78!important;
}
#menu1-x .navbar,
#menu1-x .nav-dropdown-sm,
#menu1-x .nav-dropdown-sm .link[aria-expanded="true"],
#menu1-x .nav-dropdown-sm .dropdown-menu {
  background: #2b4484;
}
#menu1-x .bg-color.transparent .link {
  color: #fffffd;
  transition: none;
}
#menu1-x .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu1-x .bg-color.transparent.opened .link:hover,
#menu1-x .bg-color.transparent.opened .link:focus {
  color: #5aac98;
}
#menu1-x .link[aria-expanded="true"],
#menu1-x .dropdown-item[aria-expanded="true"] {
  color: #5aac98!important;
}
#header4-14 .mbr-table-cell {
  vertical-align: middle;
}
#features3-15 .mbr-iconfont {
  background: #2b4484;
  border-color: #2b4484;
}
#features3-15 .features {
  background: #f6f7f8;
}
#features3-16 .mbr-iconfont {
  background: #2b4484;
  border-color: #2b4484;
}
#features3-16 .features {
  background: #f6f7f8;
}
#features7-1d .heading-title {
  color: #fffffd;
}
#footer2-20 .footer-list {
  color: #74a3c7;
}
#footer2-20 .btn-social {
  border-color: #fffffd;
  color: #fffffd;
}
#footer2-20 .btn-social:hover {
  background: #fffffd;
  color: #fff;
}
#footer2-20 .footer-header {
  color: #fffffd;
  font-size: 16px;
}
#menu1-1e .hide-buttons .nav-btn {
  display: none !important;
}
#menu1-1e .navbar-toggler {
  color: #fffffd;
}
#menu1-1e .close-icon::before,
#menu1-1e .close-icon::after {
  background-color: #fffffd;
}
#menu1-1e .link,
#menu1-1e .dropdown-item {
  color: #fffffd;
  font-family: 'Libre Franklin', serif;
}
#menu1-1e .link {
  font-size: 0.8125rem;
}
#menu1-1e .dropdown-item,
#menu1-1e .nav-dropdown-sm .link {
  font-size: 0.880rem;
}
#menu1-1e .link:hover,
#menu1-1e .link:focus {
  color: #5aac98;
}
#menu1-1e .dropdown-item:hover::before,
#menu1-1e .dropdown-item:focus::before {
  background: #5aac98;
}
#menu1-1e .dropdown-item:hover,
#menu1-1e .dropdown-item:focus {
  color: #fffffd;
}
#menu1-1e .link[aria-expanded="true"],
#menu1-1e .dropdown-menu {
  background: #2b4484;
}
#menu1-1e .nav-dropdown-sm .link:focus,
#menu1-1e .nav-dropdown-sm .link:hover,
#menu1-1e .nav-dropdown-sm .dropdown-item:focus,
#menu1-1e .nav-dropdown-sm .dropdown-item:hover {
  background: #273e78!important;
}
#menu1-1e .navbar,
#menu1-1e .nav-dropdown-sm,
#menu1-1e .nav-dropdown-sm .link[aria-expanded="true"],
#menu1-1e .nav-dropdown-sm .dropdown-menu {
  background: #2b4484;
}
#menu1-1e .bg-color.transparent .link {
  color: #fffffd;
  transition: none;
}
#menu1-1e .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu1-1e .bg-color.transparent.opened .link:hover,
#menu1-1e .bg-color.transparent.opened .link:focus {
  color: #5aac98;
}
#menu1-1e .link[aria-expanded="true"],
#menu1-1e .dropdown-item[aria-expanded="true"] {
  color: #5aac98!important;
}
#header4-1f .mbr-table-cell {
  vertical-align: middle;
}
#features4-1l .card {
  background-color: transparent;
  box-shadow: none;
  border: none;
}
#features4-1l .card-img a {
  border-width: 2px;
  line-height: 72px;
}
#features4-1l .mbr-iconfont {
  color: #2b4484;
  border-color: #2b4484;
}
#features4-1l .card-text {
  text-align: left;
}
#footer2-20 .footer-list {
  color: #74a3c7;
}
#footer2-20 .btn-social {
  border-color: #fffffd;
  color: #fffffd;
}
#footer2-20 .btn-social:hover {
  background: #fffffd;
  color: #fff;
}
#footer2-20 .footer-header {
  color: #fffffd;
  font-size: 16px;
}
#menu1-1m .hide-buttons .nav-btn {
  display: none !important;
}
#menu1-1m .navbar-toggler {
  color: #fffffd;
}
#menu1-1m .close-icon::before,
#menu1-1m .close-icon::after {
  background-color: #fffffd;
}
#menu1-1m .link,
#menu1-1m .dropdown-item {
  color: #fffffd;
  font-family: 'Libre Franklin', serif;
}
#menu1-1m .link {
  font-size: 0.8125rem;
}
#menu1-1m .dropdown-item,
#menu1-1m .nav-dropdown-sm .link {
  font-size: 0.880rem;
}
#menu1-1m .link:hover,
#menu1-1m .link:focus {
  color: #5aac98;
}
#menu1-1m .dropdown-item:hover::before,
#menu1-1m .dropdown-item:focus::before {
  background: #5aac98;
}
#menu1-1m .dropdown-item:hover,
#menu1-1m .dropdown-item:focus {
  color: #fffffd;
}
#menu1-1m .link[aria-expanded="true"],
#menu1-1m .dropdown-menu {
  background: #2b4484;
}
#menu1-1m .nav-dropdown-sm .link:focus,
#menu1-1m .nav-dropdown-sm .link:hover,
#menu1-1m .nav-dropdown-sm .dropdown-item:focus,
#menu1-1m .nav-dropdown-sm .dropdown-item:hover {
  background: #273e78!important;
}
#menu1-1m .navbar,
#menu1-1m .nav-dropdown-sm,
#menu1-1m .nav-dropdown-sm .link[aria-expanded="true"],
#menu1-1m .nav-dropdown-sm .dropdown-menu {
  background: #2b4484;
}
#menu1-1m .bg-color.transparent .link {
  color: #fffffd;
  transition: none;
}
#menu1-1m .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu1-1m .bg-color.transparent.opened .link:hover,
#menu1-1m .bg-color.transparent.opened .link:focus {
  color: #5aac98;
}
#menu1-1m .link[aria-expanded="true"],
#menu1-1m .dropdown-item[aria-expanded="true"] {
  color: #5aac98!important;
}
#form3-1r .card {
  background-color: transparent;
  box-shadow: none;
  border: none;
}
#form3-1r .card-img a {
  color: #616161;
  border-color: #616161;
  border-width: 2px;
  line-height: 72px;
}
#form3-1r .heading {
  background: #2b4484;
}
#footer2-20 .footer-list {
  color: #74a3c7;
}
#footer2-20 .btn-social {
  border-color: #fffffd;
  color: #fffffd;
}
#footer2-20 .btn-social:hover {
  background: #fffffd;
  color: #fff;
}
#footer2-20 .footer-header {
  color: #fffffd;
  font-size: 16px;
}
#menu1-23 .hide-buttons .nav-btn {
  display: none !important;
}
#menu1-23 .navbar-toggler {
  color: #fffffd;
}
#menu1-23 .close-icon::before,
#menu1-23 .close-icon::after {
  background-color: #fffffd;
}
#menu1-23 .link,
#menu1-23 .dropdown-item {
  color: #fffffd;
  font-family: 'Libre Franklin', serif;
}
#menu1-23 .link {
  font-size: 0.8125rem;
}
#menu1-23 .dropdown-item,
#menu1-23 .nav-dropdown-sm .link {
  font-size: 0.880rem;
}
#menu1-23 .link:hover,
#menu1-23 .link:focus {
  color: #5aac98;
}
#menu1-23 .dropdown-item:hover::before,
#menu1-23 .dropdown-item:focus::before {
  background: #5aac98;
}
#menu1-23 .dropdown-item:hover,
#menu1-23 .dropdown-item:focus {
  color: #fffffd;
}
#menu1-23 .link[aria-expanded="true"],
#menu1-23 .dropdown-menu {
  background: #2b4484;
}
#menu1-23 .nav-dropdown-sm .link:focus,
#menu1-23 .nav-dropdown-sm .link:hover,
#menu1-23 .nav-dropdown-sm .dropdown-item:focus,
#menu1-23 .nav-dropdown-sm .dropdown-item:hover {
  background: #273e78!important;
}
#menu1-23 .navbar,
#menu1-23 .nav-dropdown-sm,
#menu1-23 .nav-dropdown-sm .link[aria-expanded="true"],
#menu1-23 .nav-dropdown-sm .dropdown-menu {
  background: #2b4484;
}
#menu1-23 .bg-color.transparent .link {
  color: #fffffd;
  transition: none;
}
#menu1-23 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu1-23 .bg-color.transparent.opened .link:hover,
#menu1-23 .bg-color.transparent.opened .link:focus {
  color: #5aac98;
}
#menu1-23 .link[aria-expanded="true"],
#menu1-23 .dropdown-item[aria-expanded="true"] {
  color: #5aac98!important;
}
#content7-27 .mbr-section-title,
#content7-27 .mbr-section-subtitle {
  margin-bottom: 1rem;
  color: #fff;
}
#content7-27 .mbr-table-cell {
  vertical-align: middle;
}
#content1-2a P {
  font-size: 16px;
}
#content1-2b B {
  font-size: 16px;
}
#footer2-25 .footer-list {
  color: #74a3c7;
}
#footer2-25 .btn-social {
  border-color: #fffffd;
  color: #fffffd;
}
#footer2-25 .btn-social:hover {
  background: #fffffd;
  color: #fff;
}
#footer2-25 .footer-header {
  color: #fffffd;
  font-size: 16px;
}
#menu1-2r .hide-buttons .nav-btn {
  display: none !important;
}
#menu1-2r .navbar-toggler {
  color: #fffffd;
}
#menu1-2r .close-icon::before,
#menu1-2r .close-icon::after {
  background-color: #fffffd;
}
#menu1-2r .link,
#menu1-2r .dropdown-item {
  color: #fffffd;
  font-family: 'Libre Franklin', serif;
}
#menu1-2r .link {
  font-size: 0.8125rem;
}
#menu1-2r .dropdown-item,
#menu1-2r .nav-dropdown-sm .link {
  font-size: 0.880rem;
}
#menu1-2r .link:hover,
#menu1-2r .link:focus {
  color: #5aac98;
}
#menu1-2r .dropdown-item:hover::before,
#menu1-2r .dropdown-item:focus::before {
  background: #5aac98;
}
#menu1-2r .dropdown-item:hover,
#menu1-2r .dropdown-item:focus {
  color: #fffffd;
}
#menu1-2r .link[aria-expanded="true"],
#menu1-2r .dropdown-menu {
  background: #2b4484;
}
#menu1-2r .nav-dropdown-sm .link:focus,
#menu1-2r .nav-dropdown-sm .link:hover,
#menu1-2r .nav-dropdown-sm .dropdown-item:focus,
#menu1-2r .nav-dropdown-sm .dropdown-item:hover {
  background: #273e78!important;
}
#menu1-2r .navbar,
#menu1-2r .nav-dropdown-sm,
#menu1-2r .nav-dropdown-sm .link[aria-expanded="true"],
#menu1-2r .nav-dropdown-sm .dropdown-menu {
  background: #2b4484;
}
#menu1-2r .bg-color.transparent .link {
  color: #fffffd;
  transition: none;
}
#menu1-2r .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu1-2r .bg-color.transparent.opened .link:hover,
#menu1-2r .bg-color.transparent.opened .link:focus {
  color: #5aac98;
}
#menu1-2r .link[aria-expanded="true"],
#menu1-2r .dropdown-item[aria-expanded="true"] {
  color: #5aac98!important;
}
#content7-2s .mbr-section-title,
#content7-2s .mbr-section-subtitle {
  margin-bottom: 1rem;
  color: #fff;
}
#content7-2s .mbr-table-cell {
  vertical-align: middle;
}
#content1-2t P {
  font-size: 16px;
}
#content1-2u B {
  font-size: 16px;
}
#footer2-2v .footer-list {
  color: #74a3c7;
}
#footer2-2v .btn-social {
  border-color: #fffffd;
  color: #fffffd;
}
#footer2-2v .btn-social:hover {
  background: #fffffd;
  color: #fff;
}
#footer2-2v .footer-header {
  color: #fffffd;
  font-size: 16px;
}
#menu1-37 .hide-buttons .nav-btn {
  display: none !important;
}
#menu1-37 .navbar-toggler {
  color: #fffffd;
}
#menu1-37 .close-icon::before,
#menu1-37 .close-icon::after {
  background-color: #fffffd;
}
#menu1-37 .link,
#menu1-37 .dropdown-item {
  color: #fffffd;
  font-family: 'Libre Franklin', serif;
}
#menu1-37 .link {
  font-size: 0.8125rem;
}
#menu1-37 .dropdown-item,
#menu1-37 .nav-dropdown-sm .link {
  font-size: 0.880rem;
}
#menu1-37 .link:hover,
#menu1-37 .link:focus {
  color: #5aac98;
}
#menu1-37 .dropdown-item:hover::before,
#menu1-37 .dropdown-item:focus::before {
  background: #5aac98;
}
#menu1-37 .dropdown-item:hover,
#menu1-37 .dropdown-item:focus {
  color: #fffffd;
}
#menu1-37 .link[aria-expanded="true"],
#menu1-37 .dropdown-menu {
  background: #2b4484;
}
#menu1-37 .nav-dropdown-sm .link:focus,
#menu1-37 .nav-dropdown-sm .link:hover,
#menu1-37 .nav-dropdown-sm .dropdown-item:focus,
#menu1-37 .nav-dropdown-sm .dropdown-item:hover {
  background: #273e78!important;
}
#menu1-37 .navbar,
#menu1-37 .nav-dropdown-sm,
#menu1-37 .nav-dropdown-sm .link[aria-expanded="true"],
#menu1-37 .nav-dropdown-sm .dropdown-menu {
  background: #2b4484;
}
#menu1-37 .bg-color.transparent .link {
  color: #fffffd;
  transition: none;
}
#menu1-37 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu1-37 .bg-color.transparent.opened .link:hover,
#menu1-37 .bg-color.transparent.opened .link:focus {
  color: #5aac98;
}
#menu1-37 .link[aria-expanded="true"],
#menu1-37 .dropdown-item[aria-expanded="true"] {
  color: #5aac98!important;
}
#content7-38 .mbr-section-title,
#content7-38 .mbr-section-subtitle {
  margin-bottom: 1rem;
  color: #fff;
}
#content7-38 .mbr-table-cell {
  vertical-align: middle;
}
#footer2-3b .footer-list {
  color: #74a3c7;
}
#footer2-3b .btn-social {
  border-color: #fffffd;
  color: #fffffd;
}
#footer2-3b .btn-social:hover {
  background: #fffffd;
  color: #fff;
}
#footer2-3b .footer-header {
  color: #fffffd;
  font-size: 16px;
}
